---
import { sanityClient } from "sanity:client";

const posts = await sanityClient.fetch(`*[_type == "post" && defined(slug)]`);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>My blog</h1>
		{posts && <ul>
			{posts.map((post) => (
				<li><a href={'/post/' + post.slug.current}>{post.title}</a></li>
			))}
		</ul>}
	</body>
</html>
