---
import Layout from '@/layouts/Layout.astro'
import { sanityClient } from "sanity:client";
import { type Post } from '@/types/Post'
const posts = await sanityClient.fetch(`*[_type == "post" && defined(slug)]`);
---

<Layout>
	<section class="min-h-screen mx-auto container p-8">
		<h1>My blog</h1>
		{posts && <ul>
			{posts.map((post: Post) => (
				<li><a href={'/post/' + post?.slug.current}>{post?.title}</a></li>
			))}
		</ul>}
	</section>
</Layout>
