---
import Layout from '@/layouts/Layout.astro'
import { sanityClient } from "sanity:client"
import { type Posts } from '@/types/Posts'

export async function getStaticPaths() {
  const posts: Posts = await sanityClient.fetch(`*[_type == "post" && defined(slug)]`);

  return posts.map((post) => {
    return {
      params: { slug: post.slug?.current },
      props: { ...post },
    };
  });
}

const { title, content } = Astro.props;
---

<Layout><h1>{title}</h1></Layout>
