---
import { sanityClient } from "sanity:client";
import { type Posts } from '@/types/Posts'

const posts: Posts = await sanityClient.fetch(`*[_type == "post" && defined(slug)] | order(publishedAt desc)`);
---

<h1>Blog</h1>
<ul>
  {posts.map((post) => (
    <li>
      <a href={'/posts/' + post?.slug.current} class="post-link">
        {post?.title}
      </a>
    </li>
  ))}
</ul>